header{
    border-bottom: 1px solid #000;
}

.hireDiv{
    width: 100%;
}

.inner_hireDiv{
    padding: 8px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.inner_hireDiv h2{
    text-align: center;
    font-size: 50px;
    
}

.fiverr , .osm{
    background-color: #1dbf73;
    padding: 10px 8px;
    width: 400px;
    margin-top: 15px;
}

.fiverr a, .osm p{
    color: #fff;
    font-weight: bold;
    font-size: 30px;
}

.osm{
    background-color: #000;
}

.osm p{
    margin: 0;
}

@media only screen and (max-width: 500px){
    .osm, .fiverr{
        width: 90%;
    }

    .inner_hireDiv h2{
        font-size: 35px;
    }
}

